header {
  background-color: #b9114b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
}

header a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}

header hr {
  border: none;
  border-left: 1px solid #fff;
  height: 100px;
  margin-right: 20px;
}

.imagem-logo {
  img {
    width: 100px;
  }
  cursor: pointer;
}

.imagemUsuario img {
  width: 50px;
  border-radius: 50px;
  display: flex;
  margin-right: 10px;
}

.menuSuperiorDireito {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dadosUsuário {
  display: flex;
  flex-direction: column;
}

.dadosUsuário span {
  color: #fff;
}
